#gauche {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border: solid black ;

}

body {
    background: linear-gradient(-275deg, #8256cc97, #17b9bc76);
}

#atrouver {
    font-size: xxx-large;
}